[push]
    default = current
[user]
    name = Will Robinson
    email = william.ellis.robinson@gmail.com
[init]
    defaultBranch = main
[core]
    editor = nvim
[rerere]
    enabled = true
    autoUpdate = true
[branch]
    sort = -committerdate
[alias]
    yeet = restore .
    st = status
    s = switch
    b = branch
    d = diff
    ds = diff --staged
    m = merge
    r = reflog
    ap = add -p
    f = fetch
    cp = cherry-pick
    ca = commit --amend
    bl = blame -w -C -C -C
    pl = pull
